.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin: 0.6em 0 1em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 1.3em 0.3em;
}

.topico__link {
    color: #fff;
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}

@media screen and (min-width: 1024px) {

    .topicos {
        padding: 2em;
    }

    .topicos__titulo {
        font-size: 24px;
    }

    .topico__link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }

    .topicos__item {
        margin: 2em 0.5em;
    }
}